# Copiá este archivo como .env y completá con tus datos
DATABASE_URL=postgresql://usuario:password@host/neondb?sslmode=require
JWT_SECRET=poné_acá_un_texto_largo_y_secreto
PORT=3000
EMAIL_USER=tu_mail@gmail.com
EMAIL_PASS=contraseña_de_aplicacion_de_gmail
EMAIL_TO=mail_que_recibe_las_alertas@gmail.com
